<section class="h-100 h-custom" style="background-color: #8fc4b7;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
              class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
              alt="Sample photo">
            <div class="card-body p-4 p-md-5" style="background-color: #d8d3ab;">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registro de paciente</h3>
  
              <form class="px-md-2" [formGroup]="createPatientForm" (ngSubmit)="proceedCreatePatient()">
  
                <div class="form-outline mb-4">
                  <input type="text" formControlName="nombre" id="nombreLabel" class="form-control" />
                  <label class="form-label" for="nombreBox">Nombre</label>
                </div>
                <div class="row">
                  <div class="column mb-4">
                    <input type="text" formControlName="apellido_1" id="primerApellidoLabel" class="form-control" />
                    <label class="form-label" for="primerApellidoBox">Primer Apellido</label>
                  </div>
                  <div class="column mb-4">
                    <input type="text" formControlName="apellido_2" id="segundoApellidoLabel" class="form-control" />
                    <label class="form-label" for="segundoApellidoBox">Segundo Apellido</label>
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" formControlName="cedula" id="cedulaLabel" class="form-control" />
                  <label class="form-label" for="CedulaBox">Cédula</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" formControlName="password" id="passwordLabel" class="form-control" />
                  <label class="form-label" for="PasswordBox">Contraseña</label>
                </div>
  
                <div class="row">
                  <div class="col-md-6 mb-4">
  
                    <label for="start">Fecha de inicio:</label>

                      <input type="date" formControlName="fecha_nac" id="start" name="trip-start"
                          value="2023-03-22"
                          min="1900-01-01" max="2023-03-22">
  
                  </div>
                  <div class="col-md-6 mb-4">
  
                    <select formControlName="sexo" class="select mb-4" >
                      <option value="1" disabled>Gender</option>
                      <option value="F">Female</option>
                      <option value="M">Male</option>
                    </select>
                  </div>
                </div>
                <button class="button" type="submit">Acceder</button>
              </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>