<body>
    <div>
        <form [formGroup]="procedureForm" (ngSubmit)="proceedProcedureForm()">
            <div class="px-md-5 mb-5">

            <h1>Disponibilidad de la cama</h1>

            <h2>Estado:</h2>

            <label for="fechaIngresoLabel">Seleccione el procedimiento que desea realizar</label>

                <select formControlName="procedimiento_nombre" class="select mb-1" >
                  <option value="Operación" disabled>Operación</option>
                  <option value="Apendicectomía">Apendicectomía</option>
                  <option value="Biopsia de mama">Biopsia de mama</option>
                  <option value="Cesárea">Cesárea</option>
                  <option value="Cirugía de cataratas">Cirugía de cataratas</option>
                  <option value="Cirugía para lumbalgia">Cirugía para lumbalgia</option>
                  <option value="Histerectomía">Histerectomía</option>
                  <option value="Mastectomía">Mastectomía</option>


                </select>

              </div>

              <div class="row">

                <div class="column">

                    <div style="text-align: center">
    
                        <a type="submit" class="btn btn-success btn-lg mb-4 center">Agregar</a>
        
                    </div>

                </div>


                <div class="column">
                    
                    <div style="text-align: center">
    
                        <a type="submit" class="btn btn-success btn-lg mb-4 center" href="completeReservation">Confirmar</a>
        
                    </div>

                </div>
                
                <div class="column">
                    
                    <div style="text-align: center">
    
                        <button  type="submit" class="btn btn-success btn-lg mb-4 center" href="completeReservation">Cargar</button >
        
                    </div>

                </div> 

              </div>
        </form>
    </div>
</body>