<body>
    <div>
        <form>
            <div class="px-md-5 mb-5">

            <h1>Disponibilidad de la cama</h1>

            <h2>Estado:</h2>

            <label for="fechaIngresoLabel">Seleccione el procedimiento que desea realizar</label>

                <select class="select mb-1" >
                  <option value="1" disabled>Operación</option>
                  <option value="2">Apendicectomía</option>
                  <option value="3">Biopsia de mama</option>
                  <option value="4">Cesárea</option>
                  <option value="5">Cirugía de cataratas</option>
                  <option value="6">Cirugía para lumbalgia</option>
                  <option value="7">Histerectomía</option>
                  <option value="8">Mastectomía</option>


                </select>

              </div>

              <div class="row">

                <div class="column">

                    <div style="text-align: center">
    
                        <a type="submit" class="btn btn-success btn-lg mb-4 center">Agregar</a>
        
                    </div>

                </div>


                <div class="column">
                    
                    <div style="text-align: center">
    
                        <a type="submit" class="btn btn-success btn-lg mb-4 center" href="completeReservation">Confirmar</a>
        
                    </div>

                </div>                
              </div>
        </form>
    </div>
</body>