<body>
    <div>
        <form>
            <div class="px-md-5 mb-5">
            <h1>Hacer reservación</h1>
            <label for="fechaIngresoLabel">Fecha de ingreso</label>
            <input type="email" class="form-control" id="fechaIngresoBox" aria-describedby="emailHelp" placeholder="Ingrese cédula">
            </div>
            
            <div style="text-align: center">
                <a type="submit" class="btn btn-success btn-lg mb-4 center" href="selectProcedure">Submit</a>
            </div>

        </form>
    </div>
</body>