<body>
  <div>
      <form [formGroup]="historyForm" (ngSubmit)="proceedAddHistory()">
          <div class="px-md-5 mb-5">
            <label for="patientEmailLabel">Cédula del paciente</label>
            <input type="email" class="form-control" formControlName="cedula_paciente" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese cédula">
          </div>

          <div class="px-md-5 mb-5">
              <label for="procedureDateLabel">Fecha del procedimiento</label>
              <input type="procedureDateBox" class="form-control" formControlName="fecha_procedimiento" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese fecha">
          </div>

          <div class="px-md-5 mb-5">
              <label for="TreatmentLabel">Tratamiento</label>
              <input type="Detalles" class="form-control" formControlName="tratamiento" id="exampleInputPassword1" placeholder="Detalles">
          </div>

          <div class="px-md-5 mb-5">
            <label for="procedimientoLabel">Procedimiento</label>
            <input type="procedimientoBox" class="form-control" formControlName="procedimientobox" id="procedimiento" placeholder="Procedimiento">
          </div>

          <div class="px-md-5 mb-5">
            <label for="cedulaPersonalLabel">Cédula personal</label>
            <input type="cedulaPerosnalBox" class="form-control" formControlName="cedula_Personal" id="exampleFormControlInput1" placeholder="Cédula">
          </div>

          <button class="btn btn-primary btn-lg px-4 me-md-2" type="submit">Acceder</button>
      </form>
  </div>
</body>