<body>
    <div>

        <h1>Confirmación de la reservación</h1>

        <h2>Procedimientos:</h2>

        <div class="row">

            <div class="column">
                <div>
                    <label for="procedimiento1">1.</label>
                </div>
            </div>

            <div class="column">
                <div>
                    <label for="procedimiento2">2.</label>
                </div>
            </div>

            <div class="column">
                <div>
                    <label for="procedimiento3">3.</label>
                </div>
            </div>

            <div class="column">
                <div>
                    <label for="procedimiento4">4.</label>
                </div>
            </div>

            <div class="column">
                <div>
                    <label for="procedimiento5">5.</label>
                </div>
            </div>

            <div class="column">
                <div>
                    <label for="procedimiento6">6.</label>
                </div>    
            </div>

            <div class="column">
                <div>
                    <label for="procedimiento7">7.</label>
                </div>
            </div>

            <div class="column">
                <div>
                    <label for="procedimiento8">8.</label>
                </div>
            </div>


            <div class="column">
                <div style="text-align: center">
                    <a type="submit" class="btn btn-success btn-lg mb-4 center" href="addClinicalHistory">Completar Reservación</a>
                </div>
            </div>

            <div class="column">
                <div style="text-align: center">
                    <a type="submit" class="btn btn-success btn-lg mb-4 center" href="addClinicalHistory">Volver al inicio</a>
                </div>
            </div>

        </div> 
    </div>
</body>